
#titulo{
 background-color: #ff4c68;
}

h1 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 900;
 font-size: 3.5rem;
 line-height: 1.5;
}

title-image{
 width: 60%;
 transform: rotate(25deg);
}

download-button {
 margin: 5% 3% 5% 0;
}